body {
    background-color:#304C89;
    padding-left: 20px;
}

h1 {
    color:#83a1e1;
    font-family: "Playfair Display", serif;
    font-size: 40pt;
    font-weight:600;
}

h2 {
    color:#E8E5DA;
    font-family: "Playfair Display", serif;
    font-size: 30pt;
    font-weight:300;
    font-style: italic;
}

h3 {
    color:#83a1e1;
    font-family: "Playfair Display", serif;
    font-size: 25pt;
    font-weight: 600;
    text-decoration: underline dotted #E8E5DA;
}

h4 {
    color: #E8E5DA;
    font-family: "Poppins", sans-serif;
    font-size: 16pt;
    font-weight: 600;
}

p {
    color:#E8E5DA;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
    line-height: 200%;
    font-weight: 300;
}

a {
    color:#83a1e1;
    text-decoration: none;
    font-family:"Poppins", sans-serif;
    font-size: 14pt;
}

ul {
    color:#E8E5DA;;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
    list-style: square;
    font-weight: 300;
}

a:hover {
    color:#9EB7E5;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:visited {
    color:#daccfc;
    text-decoration: underline dotted;
}