body {
    background-color: #E6E6E6;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #E6E6E6;
    font-family: "EB Garamond", serif;
    font-size: 60px;
    font-weight: 600;
    padding: 10px 5px;
    margin: 10px;
}

h2 {
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
}

p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
}

#header {
    background-color: #297373;
    padding: 10px;
    background-image: url(assets/grid2.png);
    background-size: contain;
    background-repeat: repeat;
}

#introBody {
    padding: 10px;
    color: #39393A;
}

.orangeContainer {
    background-color: #FF8552;
    color: #39393A;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    width:40%;
    border-radius: 10px;
}

.greenContainer {
    background-color: #297373;
    color: #E6E6E6;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    width:40%;
    border-radius: 10px;
}

a {
    color: #E6E6E6;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#39393A;
}

.button {
    background-color: #39393A;
    padding: 10px 30px;
    border-radius: 5px;
    border: #39393A 2px solid;
    color:#E6E6E6;
    display: inline-block;
    width: auto;
}

.button:hover {
    background-color: #E6E6E6;
    border: #39393A 2px solid;
    color: #39393A;
    display: inline-block;
    width: auto;
}

#introHeading {
    text-decoration: underline solid #297373;
}

span {
    color: #297373;
    font-weight: 600;
}